[submodule "tool_lib/built_lsl"]
	path = tool_lib/built_lsl
	url = git@github.com:Aightech/built_lsl
	branch = main
[submodule "lib/camera"]
	path = lib/camera
	url = git@github.com:Aightech/camera
	branch = main
